{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0" />
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flex-layout-attribute.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>


	{% block header %}
	{% endblock %}

	{% block main %}
	{% endblock %}

	{% include 'partials/footer.html' %}

</body>
</html>