{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}

<header class="header-login header-container" layout="column top-stretch">

    {% include 'partials/navigation.html' %}
    
    <section class="header-title" self="size-x1" layout="column center-center">
        <h1>{{ user.username }}'s Bookings</h1>
    </section>
</header>
{% endblock %}

{% block main %}
<section layout='column top-center' class="profile_page">
    {% include 'partials/profile_nav.html' with active_tab='booking' %}

    <br>
    {% for booking in bookings %}
        <div class="bookings-list">
            <a href="{% url 'user_profile:bookingItems' booking.id %}" layout="row center-center"> 
                <span class="container-span"><span class="book-title">Reservation Code</span>: 1</span>
                <span class="container-span"><span class="book-title">Created at</span>: {{ booking.created_at}}</span> 
                <span class="container-span"><span class="book-title">Last Update</span>: {{  booking.updated_at|timesince }}</span>
               
            </a>
       </div>
    {% endfor %}

</section>
{% endblock %}