{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}

<header class="header-login header-container" layout="column top-stretch">

    {% include 'partials/navigation.html' %}
    
    <section class="header-title" self="size-x1" layout="column center-center">
        <h1>{{ user.username }}'s Booking list</h1>
    </section>
</header>
{% endblock %}

{% block main %}
<section layout='column top-center' class="profile_page booking-section">
    {% for item in booking.bookingitem_set.all %}
        {% if item.content_type.name == 'room' %}
            
            <div class="booking-item">
                <h3>Reservation Type: {{ item.content_type }}</h3>

                <div class="booking-item-info">
                    <span class="date-span" layout="row center-justify">
                        <p><span class="book-item-title">Check In</span>: {{ item.check_in }}</p>
                        <p><span class="book-item-title">Check Out</span>: {{ item.check_out }}</p>
                    </span>
                    <p><span class="book-item-title">Room Type</span>: {{ item.content_object }}</p>
                    <p><span class="book-item-title">Price</span>: {{ item.price }} &euro;</p>
                </div>
            </div>

        {% elif item.content_type.name == 'car' %}
            
            <div class="booking-item">
                <h3>Reservation Type: {{ item.content_type }}</h3>

                <div class="booking-item-info">
                    <span class="date-span" layout="row center-justify">
                        <p><span class="book-item-title">Check In</span>: {{ item.check_in }}</p>
                        <p><span class="book-item-title">Check Out</span>: {{ item.check_out }}</p>
                    </span>
                    <p><span class="book-item-title">Car Model</span>: {{ item.content_object }}</p>
                    <p><span class="book-item-title">Price</span>: {{ item.price }} &euro;</p>
                </div>
            </div>

        {% else %}
            
            <div class="booking-item">
                <h3>Reservation Type: {{ item.content_type }}</h3>

                <div class="booking-item-info">
                    <span class="date-span" layout="row center-justify">
                        <p><span class="book-item-title">Check In</span>: {{ item.check_in }}</p>
                        <p><span class="book-item-title">Check Out</span>: {{ item.check_out }}</p>
                    </span>
                    <p><span class="book-item-title">Bike Model</span>: {{ item.content_object }}</p>
                    <p><span class="book-item-title">Price</span>: {{ item.price }} &euro;</p>
                </div>
            </div>

        {% endif %}
    {% endfor %}
    <a href="{% url 'user_profile:bookings' %}" class="button bookings-back" layout='column center-center'>
        <span class="btn-top content"> Back </span>
        <span class="btn-bottom content"> Back </span>
    </a>
</section>
{% endblock %}