{% load static %}

<div class="filters-btn" layout="row center-left">
    <svg class="icon-gear">
        <use xlink:href="{% static 'svg/icons.svg' %}#gear" />
    </svg>
    <h4>Filters</h4>
    <svg class="icon-plus" self="right">
        <use xlink:href="{% static 'svg/icons.svg' %}#plus" />
    </svg>
</div>

<form action="" method="get">
    <input type="hidden" name="checkin" value="{{request.GET.checkin}}">
    <input type="hidden" name="checkout" value="{{request.GET.checkout}}">

    <div class="filters-options">

        <hr class="filters-line">

        <div class="price-range">
            <p>
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly name="price" style="border:0; font-weight:bold;">
            </p>
            <div id="slider-range"></div>
        </div>

        <hr class="filters-line">

        <div class="hotel-type">
            <h5>Bike Category</h5>

            {% for bike_category in form.c %}

            <div class="hotel-type-item" layout="row center-left">
                {{ bike_category.tag }}
                <label for="{{ bike_category.id_for_label }}"></label>
                <p>{{ bike_category.choice_label }}</p>
            </div>

            {% endfor %}

        </div>

        <hr class="filters-line">

        <div class="hotel-cc">
            <h5>Bike cc</h5>
            {% for bradio in form.cc %}

            <div class="hotel-cc-item" layout="row center-left">
                {{ bradio.tag }}
                <label for="{{ bradio.id_for_label }}"></label>
                <p>{{ bradio.choice_label }}</p>
            </div>

            {% endfor %}

        </div>

        <button class="button" layout='column center-center' type="submit" value="Search">
            <span class="btn-top content"> Search </span>
            <span class="btn-bottom content"> Search </span>
        </button>
    </div>

</form>