{% load static %}

<form action="">
    <div class="checkdate" layout="row center-justify">
        <div class="checkin" layout="column center-left">
            <label for="checkin">
                <svg class="icon-calendar" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#calendar" />
                </svg>
                Date
            </label>

            <input type="date" name="checkin" id="checkin-date" required>
        </div>
        <div class="checkout" layout="column center-left">
            <label for="checkout">
                <svg class="icon-clock" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#clock" />
                </svg>
                Time 
            </label>

            <input type="time" name="checkout" id="checkin-time" required>
        </div>
    </div>

    <div class="check-people" layout="row center-center">
        <div class="adults" self="left" layout="column center-left">
            <p>Pick Up</p>
            <select class="pick-up" self="left size-x1" layout="row center-center">

                <option value="airport">Airport</option>
                <option value="port">Port</option>
                <option value="bus_station">Bus Station</option>
                <option value="shop">Shop</option>
            </select>

        </div>
    </div>

    <hr class="filters-line">
    
    <div class="checkdate" layout="row center-justify">
        <div class="checkin" layout="column center-left">
            <label for="checkin">
                <svg class="icon-calendar" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#calendar" />
                </svg>
                Date
            </label>

            <input type="date" name="checkin" id="checkout-date" required>
        </div>
        <div class="checkout" layout="column center-left">
            <label for="checkout">
                <svg class="icon-clock" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#clock" />
                </svg>
                Time 
            </label>

            <input type="time" name="checkout" id="checkout-time" required>
        </div>
    </div>

    <div class="check-people" layout="row center-center">
        <div class="adults" self="left" layout="column center-left">
            <p>Drop Off</p>
            <select class="pick-up" self="left size-x1" layout="row center-center">

                <option value="airport">Airport</option>
                <option value="port">Port</option>
                <option value="bus_station">Bus Station</option>
                <option value="shop">Shop</option>
            </select>

        </div>
    </div>

    <button type="submit" class="button submit-btn" layout='column center-center'>
        <span class="btn-top content"> check now </span>
        <span class="btn-bottom content"> check now </span>
    </button>
</form>