    {% load static %}


    {% for car in cars %}
    <div class="car-list-info" layout="row center-center">
        <figure class="car-image" self="stretch size-x3">
            <a href="{% url 'rentals:car' car.slug %}">
                <img src="http://placehold.it/500x500" alt="">
            </a>
        </figure>
        <div class="car-general" self="size-x4">
            <div class="car-name-stars" layout="row center-left">
                <h3>{{car.model}}</h3>
            </div>
            <p class="car-description">
                {{car.description | truncatechars:150}}
            </p>
            <div class="car-info" layout="row center-left">
                <p>Plates: <span>{{car.plate}}</span></p>
                <p>CC: <span>{{car.cc}}</span></p>

            </div>
        </div>
        <div class="car-price" self="size-x1 stretch" layout="column center-center">
            <p><span> 40</span> <span class="currency">&euro;</span></p>
            <p>From/Per day</p>
            <a href="{% url 'rentals:car' car.slug %}" class="button" layout='column center-center'>
                <span class="btn-top content"> Details </span>
                <span class="btn-bottom content"> Details </span>
            </a>
        </div>
    </div>
    {% empty %}
    <p>
        No Car's available. <br> 
        Sorry for the inconvenience.
    </p>
    {% endfor %}
