{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{hotel.name}}{% endblock %}

{% block header %}
{% include 'partials/hotel-header.html'  with hotel=hotel %}
{% endblock %}

{% block main %}

<section class="main-wrapper hotel-main" layout="row top-justify">

    <div class="hotel-info" self="size-x2" layout="column center-center">
        <div class="hotel-slider">
            <img src="http://placehold.it/500x500" alt="">
        </div>

        <hr class="page-line">

        <div class="hotel-desc-container" layout="row top-justify">
            <aside self="size-x1">
                <h3>Description</h3>
            </aside>
            <div class="hotel-desc" self="size-x3">
                <p>
                    {{ hotel.description }}
                </p>

                <h4>Hotel facilities</h4>
                <p>
                    Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel iudico constituto efficiendi.
                </p>

                <div class="hotels-check">
                    {% for i in "xxxxxxxxxxx" %}
                    <p>
                        <svg class="icon-check">
                            <use xlink:href="{% static 'svg/icons.svg' %}#check" />
                        </svg>
                        Lorem ipsum dolor sit amet,
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <hr class="page-line">

        {% include 'hotels/partials/rooms_type.html' %}
    </div>

    <aside class="search-container hotel-availability" self="size-x1" layout="column center-center">
        <a href="#" class="button map-btn" layout='column center-center'>
            <span class="btn-top content"> view on map </span>
            <span class="btn-bottom content"> view on map </span>
        </a>

        <div class="check-availability" layout='column center-center'>
            <h4 class="check-title">Check Availability</h4>

            {% include 'hotels/partials/availability_form.html' %}
            
        </div>
        <div class="book-by-phone" layout="column center-center">
            <div class="arrow-up">&nbsp;</div>
            <svg class="icon-phone">
                <use xlink:href="{% static 'svg/icons.svg' %}#phone" />
            </svg>
            <h5><span>Book</span> by phone</h5>
            <a href="tel:{{hotel.phone}}">{{ hotel.phone }}</a>
            <small>Monday to Friday 9.00am - 8.00pm</small>
        </div>
    </aside>

</section>

{% endblock %}