{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}Kavala'sHotels{% endblock %}

{% block header %}
{% include 'partials/pages-header.html'  with page_title="kavala's hotels" page_subtitle="find the best choice for you" %}
{% endblock %}

{% block main %}

<section layout="column center-center">
	<div class="title-hotels">
		<h3>kavalas <span>hotels</span></h3>
	</div>
	
	<div class="main-wrapper" layout="row top-justify">
		
		<aside class="search-container" self="size-x1" layout="column center-center">
			<a href="#" class="button map-btn" layout='column center-center'>
				<span class="btn-top content"> view on map </span>
				<span class="btn-bottom content"> view on map </span>
			</a>

			<div class="filters">
				{% include 'hotels/partials/filter_bar.html' %}
			</div>
		</aside>

		<main class="hotel-list-container" self="size-x3" layout="column center-center">
			{% include 'hotels/partials/hotel_list.html' %}
		</main>
		
	</div>
</section>

{% endblock %}