{% load static %}

<form action="">
    <div class="checkdate" layout="row center-justify">
        <div class="checkin" layout="column center-left">
            <label for="checkin">
                <svg class="icon-calendar" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#calendar" />
                </svg>
                Check in 
            </label>

            <input type="date" name="checkin" id="checkin" required>
        </div>
        <div class="checkout" layout="column center-left">
            <label for="checkout">
                <svg class="icon-calendar" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#calendar" />
                </svg>
                Check out 
            </label>

            <input type="date" name="checkout" id="checkout" required>
        </div>
    </div>

    <div class="check-people" layout="row center-center">
        <div class="adults" self="left" layout="column center-left">
            <p>Guests</p>
            <div class="adults-count" self="left size-x1" layout="row center-center">
                <div class="minus" self="size-x1"> - </div>
                <div class="number-adults" self="size-x1"> 1 </div>
                <div class="plus" self="size-x1"> + </div>
            </div>
        </div>

        <div class="availability_roomtype" layout="column center-left">
            <label for="roomtype">Roomtype</label>
            <select name="rt">
                <option value="">Any</option>
                <option value="RO">Room only</option>
                <option value="BB">Bed & Breakfast</option>
                <option value="HB">Half Board</option>
                <option value="FB">Full Board</option>
                <option value="AI">All Inclusive</option>
            </select>
        </div>
    </div>

    {# <hr class="filters-line"> #}

    <button type="submit" class="button submit-btn" layout='column center-center'>
        <span class="btn-top content"> check now </span>
        <span class="btn-bottom content"> check now </span>
    </button>
</form>