{% load static %}
<form action="{% url 'booking:search_hotel_detail' slug=hotel.slug %}" method="get">
    <div class="checkdate" layout="row center-justify">
        <div class="checkin" layout="column center-left">
            <label for="checkin_hotel">
                <svg class="icon-calendar" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#calendar" />
                </svg>
                Check in
            </label>
            <input id="checkin_hotel" name="checkin" type="text" placeholder="Check In" required value="{{request.GET.checkin}}">
        </div>

        <div class="checkout" layout="column center-left">
            <label for="checkout_hotel">
                <svg class="icon-calendar" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#calendar" />
                </svg>
                Check out
            </label>
            <input id="checkout_hotel" name="checkout" type="text" placeholder="Check Out" required value="{{request.GET.checkout}}">
        </div>
    </div>

    <div class="check-people" layout="row center-left">


        <div class="availability_roomtype" layout="column center-left">
            <label for="roomtype">Roomtype</label>
            <select name="rt" value="{{request.GET.rt}}">
                <option value="" {% if not request.GET.rt %}selected{% endif %}>Any</option>
                <option value="RO" {% if request.GET.rt == "RO" %}selected{% endif %}>Room only</option>
                <option value="BB" {% if request.GET.rt == "BB" %}selected{% endif %}>Bed & Breakfast</option>
                <option value="HB" {% if request.GET.rt == "HB" %}selected{% endif %}>Half Board</option>
                <option value="FB" {% if request.GET.rt == "FB" %}selected{% endif %}>Full Board</option>
                <option value="AI" {% if request.GET.rt == "AI" %}selected{% endif %}>All Inclusive</option>
            </select>
        </div>
    </div>

    {# <hr class="filters-line"> #}

    <button type="submit" class="button submit-btn" layout='column center-center'>
        <span class="btn-top content"> check now </span>
        <span class="btn-bottom content"> check now </span>
    </button>
</form>