@import settings

footer
    background-image: url("./../images/bg-footer.jpg")
    color: $white
    margin-top: 50px
    width: 100%
    background-size: contain
    section
        padding: 10px
    .footer-info
        @media #{$max500}
            flex-direction: column
    .footer-column
        &.need-help
            a
                color: $lightblue
                margin-bottom: 10px
        width: initial
        a
            text-decoration: none
            color: $white
            position: relative
            transition: all .5s
            font-size: 12px
            margin-bottom: 10px
            &:hover
                color: $pink
                svg
                    transform: scale(1.2)
                    fill: $pink
        svg
            transition: all .5s
            fill: $lightblue
            position: relative
            top: 6px
            width: 20px
            height: 20px
            margin-right: 10px
    h6
        margin: 0
        // padding: 10px 30px
    hr
        margin-left: 10px
        margin-right: 10px
