@import settings
@import hotels
@import cars
@import bikes
@import pages
@import search
@import contact
@import hotelpage
@import rentalpage
@import footer_style

body::-webkit-scrollbar 
	width: 11px

 
body::-webkit-scrollbar-track 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

 
body::-webkit-scrollbar-thumb 
	background-color: $lightblue
	outline: 1px solid slategrey
	border-radius: 50px


::selection 
	background: $lightblue /* WebKit/Blink Browsers */
	color: $white
::-moz-selection 
	background: $lightblue /* Gecko Browsers */
	color: $white

body
	margin: 0
	color: $white
	font-family: 'Montserrat', sans-serif
	font-size: 14px
	background: $bg
	a
		&:hover
			cursor: pointer

section
	max-width: 1180px!important
	width: 100%
	margin: 0 auto

.header-container
	background: white url(" http://placehold.it/1440x300") no-repeat
	background-position: center
	background-size: cover
	background-attachment: fixed
	height: 600px
	width: 100%
	@media #{$max700}
		height: 300px
		background-attachment: initial
	&.pages
		height: 465px
		position: relative
		@media #{$max700}
			height: 300px

	.header-title
		text-align: center
		h1
			font-size: 50px
			text-transform: uppercase
			margin: 0
			@media #{$max700}
				font-size: 30px
		h2
			font-size: 40px
			text-transform: uppercase
			margin: 0
			@media #{$max700}
				font-size: 30px
		p
			margin-top: 0
			text-transform: uppercase
			font-weight: 700


	.navigation-open
		z-index: 2
		position: absolute
		height: 32px
		svg
			position: absolute
			top: 3px
			left: 5px
		&:hover
			cursor: pointer
	.nav-close
		position: absolute
		top: 7px
		left: 10px
		transition: all .5s
		&:hover
			cursor: pointer
			svg
				tranform: rotate(90deg)

	.navigation
		list-style: none
		padding-right: 40px
		position: relative
		z-index: 1
		@media #{$max940}
			flex-direction: column
			position: fixed
			background: rgba(0, 0, 0, 0.9)
			height: 100vh
			top: 0
			padding: 0
			margin: 0
			z-index: 2
			transition: all .5s
		li
			@media #{$max940}
				padding: 10px
			a
				margin: 0 20px
				text-decoration: none
				color: $white
				display: block
				position: relative
				transition: all .5s
				&:after, &:before
					transition: all .5s
					position: absolute
					bottom: -4px
					left: 0
					right: 0
					margin: auto
					width: 0%
					content: '.'
					color: transparent
					background: $white
					height: 1px
					&:hover
						width: 100%
				&:hover
					color: $blue
					&:after, &:before
						width: 100%
						background-color: $blue
	.search
		width: initial
		position: relative
		@media #{$max500}
			width: 100%
			max-width: 200px
		&:after
			content: ""
			position: absolute
			top: 6px
			right: -11px
			height: 22px
			width: 1px
			background: $white
		.search-input 
			outline: none
			border: none
			border-radius: 20px
			padding: 5px 10px
			visibility: hidden
			opacity: 0
			width: 0
			transition: all 1s ease-out
		&:hover
			transition: all 1s ease-out
			.search-input
				visibility: visible
				width: 100%
				opacity: 1
			.icon-search
				fill: $blue

	.login 
		z-index: 1
		// border-bottom: 1px solid $white
		h6
			margin: 10px 50px 10px 10px
			@media #{$max500}
				margin: 10px 0px 10px 10px
			a
				color: $white
				text-decoration: none
				padding: 10px
				transition: all .5s
				font-size: 11px
				&:hover
					color: $blue
.header-line
	background: $white
	padding: 0
	height: 1px
	width: 100%
	border: none
	margin: 0

.icon
	&-search
		width: 16px
		height: 16px
		margin-left: 5px
		fill: $white
		flex-shrink: 0
		&:hover
			cursor: pointer
	&-star
		width: 15px
		height: 15px
		fill: $yellow
		&-nofill
			width: 15px
			height: 15px
			fill: none
			stroke: $grey
	&-gear
		width: 18px
		height: 18px
		fill: $grey
	&-plus
		width: 10px
		height: 10px
		fill: $grey
	&-calendar
		width: 13px
		height: 13px
		fill: $grey
		margin-right: 5px
	&-clock
		width: 13px
		height: 13px
		fill: $grey
		margin-right: 5px
	&-phone
		width: 50px
		height: 50px
		fill: $grey
	&-mail
		width: 20px
		height: 20px
		fill: $grey
	&-arrow
		width: 20px
		height: 20px
		fill: none
		stroke: $grey
	&-pencil
		width: 25px
		height: 25px
		fill: $pink
		position: absolute
		left: 4px
		top: 0px
	&-check
		width: 10px
		height: 10px
		fill: $pink
	&-wifi
		width: 15px
		height: 15px
		fill: $grey
		position: relative
		top: 2px
		margin-right: 3px
	&-tv
		width: 15px
		height: 15px
		fill: $grey
		position: relative
		top: 2px
		margin-right: 3px
	&-safe
		width: 15px
		height: 15px
		fill: $grey
		position: relative
		top: 2px
		margin-right: 3px
	&-close
		width: 21px
		height: 21px
		fill: $white
	&-menu
		width: 30px
		height: 25px
		fill: $white





.button
	text-decoration: none
	color: $white
	background: $lightblue
	// padding: 7px 25px
	white-space: nowrap
	border-radius: 3px
	transition: all .5s
	position: relative
	overflow: hidden
	margin-bottom: 10px
	max-width: 170px
	.content
		position: relative
		transition: all .4s 
		overflow: hidden
	.btn
		&-top
			top: 10px
			left: 0
		&-bottom
			top: 40px
			left: 0
	&:hover
		cursor: pointer
		background: $blue
		.btn
			&-top
				top: -40px
			&-bottom
				top: -8px
				font-weight: bold
.title
	&-hotels
		h3
			color: $grey
			text-transform: uppercase
			margin-top: 50px
			letter-spacing: -1px
			font-weight: 800
			font-size: 30px
			@media #{$max700}
				font-size: 18px
			span
				color: $blue
//maps div
#map
	width: 100%
	height: 400px
	position: absolute
	top: -400px
	z-index: -1
	transition: all .5s

.collapse
	height: 0
	position: relative
	transition: all .5s
	&.in
		height: 400px
		#map
			top: 0
			// z-index: 1

.map-btn-mobile
    text-transform: uppercase
    max-width: 100%
    margin-bottom: 20px


// media queries classes
.hide-from-940
	@media #{$max940}
		display: none
.show-from-940
	display: none
	@media #{$max940}
		display: flex

.hide-from-700
	@media #{$max700}
		display: none
.show-from-700
	display: none
	@media #{$max700}
		display: flex
