{% load static %}

<header class="pages header-container" layout="column top-stretch">
    
    {% include 'partials/navigation.html' with active_tab='cars' %}

    <section class="header-title rental" self="size-x1" layout="row bottom-left">
        <div class="page-rental-info" self="size-x1">
            <h2>{{rental.model}}</h2>
            <p>{{rental.rental.address}}</p>
        </div>
        <div class="page-rental-price" self="right size-x1" layout="row bottom-right">
            <p>from/per day</p>
             <p>
                <span> 40</span> <span class="currency">&euro;</span>
             </p>
        </div>
    </section>

    <div class="bottom-shadow"></div>
</header>