{% load static %}

<div class="city_info" >

    <p>
        Kavala, the capital and main port of the Kavala prefecture is amphitheatrically built on the slopes of Mt. Symvolo forming one of the most picturesque cities in Greece. The city’s breeze sweeps through its historic buildings, which perfectly reflect the city’s modern character.
        <br> <br>
        Neapoli, Chrysoupoli, Kavala: according to archaeological finds, the city’s history dates back to the Prehistoric times. Initially the city’s core was restricted to the district of Panayia, which has been uninterruptedly inhabited since the 7th century BC. After 2500 years though, at the beginning of the 16th century, Kavala expanded maintaining these new borders until 1870; it was only after 1928 that it began to shape its today structure. 
        <br> <br>
        Its strategic and economic importance over the centuries is attributed to its strategic position in Via Egnatia, which traversed the city connecting East and West, to its port and to the natural fortification of the peninsula, on which the old city was built.
    </p>
</div>