{% load static %}

<div class="header-search-container">
    <ul class="tabs">
        <li class="tab-link {% if active_tab not in 'carsbikespackages' or not active_tab %} current{% endif %}" data-tab="hotels">
            <span>
                <svg class="icon-tent" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#tent" />
                </svg>
            </span><span class="tab-title">Hotels</span>
        </li>
        <li class="tab-link{% if active_tab == 'cars' %} current{% endif %}" data-tab="cars">
            <span>
                <svg class="icon-car" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#car" />
                </svg>
            </span><span class="tab-title">Cars</span>
        </li>
        <li class="tab-link{% if active_tab == 'bikes' %} current{% endif %}" data-tab="bikes">
            <span>
                <svg class="icon-vespa" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#vespa" />
                </svg>
            </span><span class="tab-title">Bikes</span>
        </li>
        <li class="tab-link{% if active_tab == 'packages' %} current{% endif %}" data-tab="packages">
            <span>
                <svg class="icon-box" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#box" />
                </svg>
            </span><span class="tab-title">Packages</span>
        </li>
    </ul>

    <div id="hotels" class="tab-content {% if active_tab not in 'carsbikespackages' or not active_tab %} current{% endif %}">
        <form action="{% url 'booking:search_hotel' %}" method="get" layout="column center-center">
            <div class="search-form-container" layout="row center-spread">
                <div layout="row center-spread">
                    <div class="input-container">
                        <label for="checkin_hotel">Check In</label><br>
                        <input id="checkin_hotel" name="checkin" type="text" placeholder="Check In" required {% if request.GET.checkin %}value="{{request.GET.checkin}}"{% endif %}>
                    </div>

                    <div class="input-container">
                        <label for="checkout_hotel">Check Out</label><br>
                        <input id="checkout_hotel" name="checkout" type="text" placeholder="Check Out" required {% if request.GET.checkout %}value="{{request.GET.checkin}}"{% endif %} >
                    </div>
                </div>

                <div layout="row center-left">
                    {% comment %}
                    <div class="input-container">
                        <label for="guests">Guests</label><br>
                        <input id="guests" name="" type="number" placeholder="Guests">
                    </div>
                    {% endcomment %}

                    <div class="input-container roomtype">
                        <label for="roomtype">Roomtype</label><br>
                        <select name="rt">
                            <option value="">Any</option>
                            <option value="RO">Room only</option>
                            <option value="BB">Bed & Breakfast</option>
                            <option value="HB">Half Board</option>
                            <option value="FB">Full Board</option>
                            <option value="AI">All Inclusive</option>
                        </select>
                    </div>
                </div>
            </div>

            <button class="button serach-btn" layout='column center-center' type="submit" value="Search">
                <span class="btn-top content"> Search </span>
                <span class="btn-bottom content"> Search </span>
            </button>
        </form>
    </div>
    <div id="cars" class="tab-content {% if active_tab == 'cars' %} current{% endif %}">
        <form action="{% url 'booking:search_car' %}" method="get" layout="column center-center">
            <div class="search-form-container" layout="row center-spread">
                <div layout="row center-spread">
                    <div class="input-container">
                        <label for="pickup_car">Pick up</label><br>
                        <input id="pickup_car" name="checkin" type="text" placeholder="Pick up" required {% if request.GET.checkin %}value="{{request.GET.checkin}}"{% endif %}>
                    </div>

                    <div class="input-container">
                        <label for="dropoff_car">Drop off</label><br>
                        <input id="dropoff_car" name="checkout" type="text" placeholder="Drop off" required {% if request.GET.checkout %}value="{{request.GET.checkin}}"{% endif %} >
                    </div>
                </div>

                <div layout="row center-spread">

                    <div class="input-container">
                        <label for="car_cc">Car cc</label><br>
                        <select name="cc">
                            <option value="">Any</option>
                            <option value="0-1000">0-1000</option>
                            <option value="1000-1100">1000-1100</option>
                            <option value="1100-1300">1100-1300</option>
                            <option value="1300-1600">1300-1600</option>
                            <option value="1600-2000">1600-2000</option>
                            <option value="2000">Bigger than 2000</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <label for="car_category">Car Category</label><br>
                        <select name="t">
                            <option value="">Any</option>
                            <option value="SUV">SUV</option>
                            <option value="Sedan">Sedan</option>
                            <option value="Van">Van</option>
                            <option value="Coupe/Compact">Coupe/Compact</option>
                            <option value="Wagon">Wagon</option>
                            <option value="Convertible">Convertible</option>
                            <option value="Sports_Car">Sports Car</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Crossover">Crossover</option>
                            <option value="Luxury_Car">Luxury Car</option>
                            <option value="Hybrid/Electric">Hybrid/Electric</option>
                            <option value="Hatchback">Hatchback</option>
                        </select>
                    </div>
                </div>
            </div>

            <button class="button serach-btn" layout='column center-center' type="submit" value="Search">
                <span class="btn-top content"> Search </span>
                <span class="btn-bottom content"> Search </span>
            </button>
        </form>
    </div>
    <div id="bikes" class="tab-content {% if active_tab == 'bikes' %} current{% endif %}">
        <form action="{% url 'booking:search_bike' %}" method="get" layout="column center-center">
            <div class="search-form-container" layout="row center-spread">
                <div layout="row center-spread">
                    <div class="input-container">
                        <label for="pickup_bike">Pick up</label><br>
                        <input id="pickup_bike" name="checkin" type="text" placeholder="Pick up" required {% if request.GET.checkin %}value="{{request.GET.checkin}}"{% endif %}>
                    </div>

                    <div class="input-container">
                        <label for="dropoff_bike">Drop off</label><br>
                        <input id="dropoff_bike" name="checkout" type="text" placeholder="Drop off" required {% if request.GET.checkout %}value="{{request.GET.checkin}}"{% endif %} >
                    </div>
                </div>

                <div layout="row center-spread">

                    <div class="input-container">
                        <label for="bike_cc">Bike cc</label><br>
                        <select name="cc">
                            <option value="">Any</option>
                            <option value="0-100">100 cc And Below</option>
                            <option value="100-150">100cc-150cc</option>
                            <option value="150-200">150cc-200cc</option>
                            <option value="200-250">200cc-250cc</option>
                            <option value="250">250cc And Above</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <label for="bike_category">Bike Category</label><br>
                        <select name="c">
                            <option value="">Any</option>
                            <option value="Standard">Standard</option>
                            <option value="Cruiser">Cruiser</option>
                            <option value="Sport_bike">Sport bike</option>
                            <option value="Touring">Touring</option>
                            <option value="Sport_touring">Sport touring</option>
                            <option value="Dual_sport">Dual-sport</option>
                            <option value="Scooters">Scooters</option>
                            <option value="Off_road">Off-road</option>
                            <option value="Enclosed">Enclosed</option>
                            <option value="Utility">Utility</option>
                            <option value="Tricycles">Tricycles</option>
                        </select>
                    </div>
                </div>
            </div>

            <button class="button serach-btn" layout='column center-center' type="submit" value="Search">
                <span class="btn-top content"> Search </span>
                <span class="btn-bottom content"> Search </span>
            </button>
        </form>
    </div>
    <div id="packages" class="tab-content {% if active_tab == 'packages' %} current{% endif %}">
        <form action="" method="get" layout="column center-center">
            <div class="search-form-container" layout="row center-spread">
                <div layout="row center-spread">
                    <div class="input-container">
                        <label for="checkin_packages">Check In</label><br>
                        <input id="checkin_packages" name="checkin" type="text" placeholder="Check In" required {% if request.GET.checkin %}value="{{request.GET.checkin}}"{% endif %}>
                    </div>

                    <div class="input-container">
                        <label for="checkout_packages">Check Out</label><br>
                        <input id="checkout_packages" name="checkout" type="text" placeholder="Check Out" required {% if request.GET.checkout %}value="{{request.GET.checkin}}"{% endif %} >
                    </div>
                </div>

                <div layout="row center-spread">
                    <div class="input-container">
                        <label for="guests">Guests</label><br>
                        <input id="guests" name="" type="number" placeholder="Guests">
                    </div>

                    <div class="input-container">
                        <label for="roomtype">Roomtype</label><br>
                        <select name="roomtype">
                            <option value="">Any</option>
                            <option value="RO">Room only</option>
                            <option value="BB">Bed & Breakfast</option>
                            <option value="HB">Half Board</option>
                            <option value="FB">Full Board</option>
                            <option value="AI">All Inclusive</option>
                        </select>
                    </div>
                </div>
            </div>

            <button class="button serach-btn" layout='column center-center' type="submit" value="Search">
                <span class="btn-top content"> Search </span>
                <span class="btn-bottom content"> Search </span>
            </button>
        </form>
    </div>

</div>