{% load static %}
{% load hotels %}

<header class="pages header-container" layout="column top-stretch">
    <section class="login" layout="row-right">
        <div class="search" layout="row center-right">
            <input type="text" class="search-input">
            <svg class="icon-search">
                <use xlink:href="{% static 'svg/icons.svg' %}#search" />
            </svg>
        </div>
        <h6 self="right"><a href="#">Sign In</a></h6>
    </section>
    <hr class="header-line">
    <div class="navigation-open show-from-700">
        <svg class="icon-menu">
            <use xlink:href="{% static 'svg/icons.svg' %}#menu" />
        </svg>
    </div>
    <nav class="hide-from-700">
        <ul class="navigation" layout="rows center-center">
            <div class="nav-close show-from-700">
                <svg class="icon-close">
                    <use xlink:href="{% static 'svg/icons.svg' %}#close" />
                </svg>
            </div>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'hotels:index' %}">Hotels</a></li>
            <li><a href="{% url 'rentals:cars' %}">Rent a car</a></li>
            <li><a href="{% url 'rentals:bikes' %}">Rent a bike</a></li>
            <li><a href="#">Transportation</a></li>
            <li><a href="#">Sights</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
    <section class="header-title hotel" self="size-x1" layout="row bottom-left">
        <div class="page-hotel-info" self="size-x1">
            <div class="stars">
                {% include 'hotels/partials/stars_snippet.html' with with_nofill=True hotel=hotel %}
            </div>
            <h2>{{hotel.name}}</h2>
            <p>{{hotel.address}}</p>
        </div>
        <div class="page-hotel-price" self="right size-x1" layout="row bottom-right">
            <p>from/per night</p>
             <p>
                <span> 40</span> <span class="currency">&euro;</span>
             </p>
        </div>
    </section>

    <div class="bottom-shadow"></div>
</header>