{% load static %}

<header class="pages header-container" layout="column top-stretch">
    <div class="login" layout="row-right">
        <div class="search" layout="row center-right">
            <input type="text" class="search-input">
            <svg class="icon-search">
                <use xlink:href="{% static 'svg/icons.svg' %}#search" />
            </svg>
        </div>
        <h6 self="right"><a href="#">Sign In</a></h6>
    </div>
    <nav>
        <ul class="navigation" layout="rows center-right">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'hotels:index' %}">Hotels</a></li>
            <li><a href="#">Transportation</a></li>
            <li><a href="#">Sights</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
    <section class="header-title hotel" self="size-x1" layout="row bottom-left">
        <div class="page-hotel-info">
            <div class="stars">
                {% for i in "xx" %}
                <svg class="icon-star" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#star" />
                </svg>
                {% endfor %}
                {% for i in "xxx" %}
                <svg class="icon-star-nofill" self="right">
                    <use xlink:href="{% static 'svg/icons.svg' %}#star" />
                </svg>
                {% endfor %}
            </div>
            <h2>{{hotel.name}}</h2>
            <p>{{hotel.address}}</p>
        </div>
        <div class="page-hotel-price" self="right" layout="row bottom-right">
            <p>from/per night</p>
             <p>
                <span> 40</span> <span class="currency">&euro;</span>
             </p>
        </div>
    </section>

    <div class="bottom-shadow"></div>
</header>