{% extends 'layouts/base.html' %}
{% load hotels %}
{% load cars %}

{% block title %}KavalaTour{% endblock %}


{% block header %}
	{% include 'partials/header.html' %}
{% endblock %}

{% block main %}
    <section layout="row center-center">
        {# {% include 'partials/city_info.html' %}         #}
    </section>

    <section layout="column center-center">
        {% render_three_random_hotels %}
    </section>
    
    <section layout="column center-center">
    	{% render_three_random_cars %}
    </section>
{% endblock %}
